.header{
  text-align: center;
}

body {
  background: url(./hotel-595121.jpg);
  background-size: cover;
}

.formulaire-box {
  background-color: #1f3255;
  border-radius: 10px;
  padding: 20px;
  color: white;
}

.resultat-box {
  background-color: #1f3255;
  border-radius: 10px;
  padding: 20px;
  color: #ffffff;
  text-align: center;
}

footer{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background-color: rgb(44, 44, 44);
  color: rgb(255, 255, 255);
  padding: 10px;
  font-weight: bold;
}

.age-input {
  margin-top: 5px;
}

.resultat-box p {
  background-color: rgba(255,255,255,0.1);
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}